#scroller {
  white-space: nowrap;
  overflow-x: scroll;
}

#scroller img {
  display: inline-block;
  height: 100px; /* Adjust the height as needed */
  width: 300px; /* Adjust the width as needed */
}
