<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../../assets/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>About</h2>
      <ol>
        <li><a routerLink="/home">Home</a></li>
        <li>Who we are</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->




  <section id="about" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Why Choose Us</h2>

      </div>

      <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

        <div class="col-xl-5 img-bg" style="background-image: url('../../../assets/img/why-us-bg.jpg')"></div>
        <div class="col-xl-7 slides  position-relative">

          <div class="row py-6" data-aos="fade-up">

            <div class="col-lg-8">
              <div >
                <p class="p-3">
                  <!--                        Qisher Ltd is a leading management consultancy firm in Kenya with clientele base in public, private and NGO organizations. We help clients achieve significant growth in profits, revenues through operational excellence. We are constantly looking beyond customers’ and society’s expectations in order to deliver market leading services wherever they are needed. As the leader in providing specialized business solutions that improve quality, safety and productivity and reduce risk, we help customers navigate an increasingly regulated world. Our independent services add significant value to our customers’ operations and ensure business sustainability. <br>-->
                  <!--                        <br>We are committed to helping our clients build high performance organizations striving for excellence by establishing a culture  that continually improves and achieves breakthrough in organization performance.-->
                  Qisher Ltd is a leading management consultancy firm in Kenya with clientele base in public,
                  private and NGO organizations. Our scope of services include training and consultancy in
                  Business Strategy, Quality Management Systems, Environmental Management Systems,
                  Information Security Management Systems, Occupational Health And Safety Management
                  Systems, Food Safety Management Systems, Laboratory Management Systems, Conformity
                  Assessment, Energy Management Systems and Lead Auditors Courses. We also offer Lean
                  management systems including<strong>Kaizen  , just in time and Kanban.</strong> We are registered with
                  National Quality Institute (NQI), National Industrial Training Authority (NITA), National
                  Construction Authority (NCA) and Women Access to Government procurement Services
                  (WAGPO) to ensure we operate within the scope of national regulatory framework. Our experts
                  have vast experience in the areas having worked for Kenya Bureau of Standards, Kenya
                  Accreditation Service (KENAS) among others.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Why Choose Us</h2>

      </div>

      <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

        <div class="col-xl-5 img-bg" style="background-image: url('../../../assets/img/why-us-bg.jpg')"></div>
        <div class="col-xl-7 slides  position-relative">

          <div class="slides-1 swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Mission</h3>
                  <h4 class="mb-3">To provide expert advice and support to organizations in improving their products, processes, and systems in order to meet quality standards and customer requirements.</h4>
                  <p> We offer a range of services, including quality management consulting, quality assurance and control, process improvement, and training and development. Our ultimate goal is to help the organization achieve and maintain a high level of quality in its operations and deliverables.</p>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Vision</h3>
                  <h4 class="mb-3">To be a trusted advisor and partner for organizations </h4>
                  <p>We enable organizations achieve and sustain excellence in quality. We strive to be recognized as a leader in the quality consulting industry, offering innovative solutions and best practices to meet the evolving needs of their clients. Our firm aims to create a positive impact on our clients' businesses, enabling them to achieve their goals and succeed in their respective markets. Ultimately, our vision is to promote and advance the principles of quality management and continuous improvement globally. </p>
                </div>
              </div><!-- End slide item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

    </div>
  </section><!-- End Why Choose Us Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3>Ut fugiat aliquam aut non</h3>
          <p></p>
          <a class="cta-btn" routerLink="/contact">Call To Action</a>
        </div>
      </div>
    </div>
  </section><!-- End Call To Action Section -->




  <section id="clients" class="clients">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Our Clients</h2>
      </div>

    </div>


    <div class="clients-slider swiper-container">





      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/assets/clients/kiambu.jpg" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="/assets/clients/Nita.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="src/assets/clients/kipi.jpg" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="src/assets/clients/kirinyaga.jpg" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="src/assets/clients/kttc.jpg" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="src/assets/clients/friendship.jpg" class="img-fluid" alt=""></div>

        <!-- <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>  -->
      </div>
      <div class="swiper-pagination"></div>
    </div>


  </section>


<!--  <section id="cli" class="why-us">-->
<!--    <div class="container" data-aos="fade-up">-->

<!--      <div class="section-header">-->
<!--        <h2>Our Clients</h2>-->

<!--      </div>-->
<!--          <div class="clients-slider swiper-container">-->
<!--            <div class="swiper-wrapper align-items-center">-->
<!--              <div class="swiper-slide"><img src="assets/clients/kiambu.jpg" class="img-fluid" alt="">-->
<!--              <p>County Government of Kiambu</p></div>-->
<!--              <div class="swiper-slide">-->
<!--                <img src="assets/clients/Nita.png" class="img-fluid" alt="">-->
<!--                <p>National Industrial Training Authority</p>-->
<!--              </div>-->
<!--              <div class="swiper-slide">-->
<!--                <img src="assets/clients/strath.png" class="img-fluid" alt="">-->
<!--                <p>Strathmore University</p>-->
<!--              </div>-->

<!--              <div class="swiper-slide"><img src="assets/clients/kipi.jpg" class="img-fluid" alt=""></div>-->
<!--              <div class="swiper-slide"><img src="assets/clients/kirinyaga.jpg" class="img-fluid" alt=""></div>-->
<!--              <div class="swiper-slide"><img src="assets/clients/kttc.jpg" class="img-fluid" alt=""></div>-->
<!--              <div class="swiper-slide"><img src="assets/clients/friendship.jpg" class="img-fluid" alt=""></div>-->

<!--              &lt;!&ndash; <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>-->
<!--              <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>  &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="swiper-pagination"></div>-->
<!--          </div>-->



<!--    </div>-->
<!--  </section>&lt;!&ndash; End Why Choose Us Section &ndash;&gt;-->












  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Team</h2>

      </div>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">
              <img src="../../../assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="../../../assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <div class="member-img">
              <img src="../../../assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member">
            <div class="member-img">
              <img src="../../../assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>
  </section><!-- End Team Section -->

</main>
