<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../../assets/images/team-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Testimonials</h2>
      <ol>
        <li><a (click)="gotoHome()" >Home</a></li>
        <li>Team</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->
  <!-- ======= Team Section ======= -->

<!--TODO add the clients section-->
<!--  <div class="section-header">-->
<!--    <h2>Testimonials</h2>-->

<!--  </div>-->

  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="slides-1 swiper" data-aos="fade-up">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>John Muchiri</h3>
              <h4>Ceo &amp; Founder</h4>
              <h4>Mbogo Engineering Solutions</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                We have been working with Qisher_ltd for several months now and have been thoroughly impressed with their level of expertise and commitment to delivering top-notch management and quality services. Their customer service has been exceptional. We highly recommend Qisher_Ltd to anyone in need  high-quality management solutions
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Ruth Njeri</h3>
              <h4>Entrepreneur</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                "I have been a client of Qisher_Ltd for the past year and they have consistently exceeded my expectations. Their services have helped streamline my business operations and their customer service has been unparalleled. The team at Qisher truly understands the needs of entrepreneurs and goes above and beyond to ensure our success. I highly recommend them to any business owner looking for top-notch quality services."
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Mr Sylvance A. Sange</h3>
              <h4>Managing Director</h4>
              <h4>Kenya Industrial Property Institute</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                "The property institute highly recommends Qisher_Ltd  for their exceptional commitment to quality and excellence in the field. Their attention to detail and thorough approach to projects has consistently resulted in successful outcomes for our clients. The firm's dedication to staying current with industry trends and advancements has also been impressive and sets them apart in the market. We have had the pleasure of working with Qisher Ltd on several projects and have been consistently impressed with their professionalism, expertise, and results-oriented approach. We wholeheartedly endorse them as a top-quality firm in the industry."                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Dr. Vincent Ogutu</h3>
              <h4>Vice chancellor - Strathmore University</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                "The university highly recommends Qisher_Ltd for their commitment to providing valuable and meaningful work experiences for our students. Their support of our university's mission and dedication to providing hands-on learning opportunities have been instrumental in preparing our students for successful careers. The firm's approach to mentorship and professional development has been impressive and sets them apart in the industry. We have had the pleasure of working with Qisher_Ltd on several projects and have been consistently impressed with their professionalism, expertise, and dedication to providing a positive impact on the future workforce. We wholeheartedly endorse them as a top-quality firm in the industry."
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3> Stephen Ogenga</h3>
              <h4>Director</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                "The training institute highly recommends Qisher_Ltd for their exceptional commitment to employee development and professional growth. Their comprehensive training programs and innovative approach to learning have consistently produced highly skilled and knowledgeable employees. The firm's investment in employee development not only benefits the individuals, but also results in a more productive and successful company. We have had the opportunity to collaborate with Qisher_Ltd on several training initiatives and have been impressed with their dedication to delivering high-quality programs and their commitment to their employees' success. We wholeheartedly endorse them as a quality firm in the field of employee training and development."
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3>What's our story</h3>
          <p>Our Firm is a recognised brand in training and consultancy in
            Business Strategy, Quality Management Systems, Environmental Management Systems,
            Information Security Management Systems, Occupational Health And Safety Management
            Systems, Food Safety Management Systems, Laboratory Management Systems, Conformity
            Assessment, Energy Management Systems and Lead Auditors Courses</p>
          <p>Lets connect and find out how we may bring forth our high level expertise  and wealth of experience in your company</p>
          <a class="cta-btn" (click)="navigateToContactUs()">Lets Connect</a>
        </div>
      </div>

    </div>
  </section>

</main><!-- End #main -->
