<section id="features" class="recent-posts">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our core values</h2>

    </div>

    <div class="row gy-5">
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/customer-focus.jpeg" class="img-fluid" alt=""></div>
          <h3 class="post-title">Customer focus</h3>
          <p>We prioritizes meeting the needs and expectations of its customers. TThis can involve understanding customer requirements, delivering products and services that meet or exceed customer expectations, and continuously seeking ways to improve customer satisfaction. A quality control firm with a strong customer focus is committed to providing excellent customer service, and to building long-lasting relationships with its customers.</p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/Continuous improvement.jpeg" class="img-fluid" alt=""></div>
          <h3 class="post-title">Continuous improvement</h3>
          <p>We are always seeking ways to improve our processes, products, and services. This  involves using quality management tools and techniques to identify and address quality issues, continuously monitoring and evaluating performance, and seeking new and innovative ways to improve quality.  We are committed to staying ahead of the curve, and to delivering the highest level of quality to our customers</p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/innovation.jpeg" class="img-fluid" alt=""></div>
          <h3 class="post-title">innovation</h3>
          <p>continuously seeking new and better ways to solve problems, and exploring new technologies and techniques to improve quality.</p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/Integrity.jpeg" class="img-fluid" alt=""></div>
          <h3 class="post-title">Integrity</h3>
          <p>We are transparent in dealings with customers and stakeholders, acting with fairness and impartiality, and following through on commitments hence we are committed to maintaining the highest standards of ethical conduct.</p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/Teamwork.jpeg" class="img-fluid" alt=""></div>
          <h3 class="post-title">Teamwork</h3>
          <p>We prioritize collaboration and cooperation  among our team through working together towards a common goal, sharing knowledge and expertise, and supporting each other in the pursuit of quality. By teamwork, we leverage the strengths of our employees to deliver better results to our customers  </p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/Reliability.webp" class="img-fluid" alt=""></div>
          <h3 class="post-title">Reliability</h3>
          <p>We ensure consistency of our quality standards by providing accurate and reliable information and following through on commitments</p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/Professionalism.jpeg" class="img-fluid" alt=""></div>
          <h3 class="post-title">Professionalism</h3>
          <p>We are committed to delivering high-quality services, and to building a reputation for excellence in the industry. This  involves having a strong work ethic that displays technical competence and expertise that presents a professional image to customers and stakeholders.</p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="post-box">
          <div class="post-img"><img src="../../../assets/images/coreValues/Integrity.jpeg" class="img-fluid" alt=""></div>
           <h3 class="post-title">Results orientation</h3>
          <p>We focus  on delivering measurable results and outcomes to its customers.involve setting clear quality goals and objectives, tracking performance against these targets, and making adjustments as needed to achieve the desired outcomes. </p>
          <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

    </div>

  </div>
</section>

