<section id="features" class="recent-posts">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our core values</h2>

    </div>

    <div class="row gy-5 ">
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="post-box">
          <div class="post-img img"><img src="/assets/img/portfolio/img.png" class="img-fluid" alt=""></div>
          <h3 class="post-title"><em>Q</em>uality</h3>
          <p>We are committed to delivering services that consistently meet or exceed customer expectations and industry standards
      </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="post-box">
          <div class="post-img"><img src="/assets/img/portfolio/img_4.png" class="img-fluid" alt=""></div>
          <h3 class="post-title"><em>I</em>mpact</h3>
          <p>We provide honest quality feedback to our clients.This has enabled us develop credibility among our clients and their partners</p>

        </div>
      </div>
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="post-box">
          <div class="post-img"><img src="/assets/img/portfolio/img_3.png" class="img-fluid" alt=""></div>
          <h3 class="post-title"><em>S</em>uccess</h3>
          <p>We  strive to provide quality value to our clients by helping them improve  their business and  and reach their goals, We demonstrate our commitment to delivering high quality work and achieving  positive outcomes to our clients and their partners </p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="post-box">
          <div class="post-img"><img src="/assets/img/portfolio/img_1.png" class="img-fluid" alt=""></div>
          <h3 class="post-title"><em>H</em>onesty</h3>
          <p>Continuously seeking new and better ways to solve problems, and exploring new technologies and techniques to improve quality.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="post-box">
          <div class="post-img"><img src="assets/img/portfolio/img_6.png" class="img-fluid" alt=""></div>
          <h3 class="post-title"><em>E</em>fficiency</h3>
          <p>We always seek and implement efficient ways to optimize the available resources to minimize waste, reduce cost and increase productivity</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="post-box">
          <div class="post-img"><img src="/assets/img/portfolio/img_5.png" class="img-fluid" alt=""></div>
          <h3 class="post-title"><em>R</em>eliability</h3>
          <p>We ensure consistency of our quality standards by providing accurate and reliable information and following through on commitments</p>
        </div>
      </div>



    </div>

  </div>
</section>

