<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
<!--     Let us take the reins of quality control, so you can focus on growth.   -->
<!--        -->
<!--      -->
        <h2 data-aos="fade-up">Welcome to Qisher Limited</h2>
        <blockquote data-aos="fade-up" data-aos-delay="100">
          <p>Making excellence a habit</p>
        </blockquote>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a routerLink="/about" class="btn-get-started">Get Started</a>
          <a href="https://www.youtube.com/watch?v=O9_EHU5BKnQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Why Choose Us Section ======= -->

<!--   ======= Our Services Section ======= -->

  <section id="blog " class="blog  container">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Our Services</h2>
      </div>
      <div class="row g-5 ">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <div class="row gy-5 posts-list">

            <div class="col-lg-6">
              <article class="d-flex flex-column">

                <div class="post-img">
                  <img src="../../../assets/images/blog/blog-1.jpg" alt="" class="img-fluid">
                </div>

                <h2 class="title">
                  <a>Management systems consultancy</a>
                </h2>

                <div class="content">
                  <p>
                    We assist organizations in implementing, maintaining and improving various management  systems  such as Quality Management System (QMS), Environmental Management System (EMS), Occupational Health and Safety Management System (OHSMS).
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a (click)="navigateTomgt()">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6 ">
              <article class="d-flex flex-column">

                <div class="post-img">
                  <img src="../../../assets/images/blog/blog-2.jpg" alt="" class="img-fluid">
                </div>

                <h2 class="title">
                  <a >Strategic Planning</a>
                </h2>


                <div class="content">
                  <p>
                    We set the long-term goals and objectives by analyzing the internal and external environment to understand opportunities and challenges and come up with a comprehensive plan to achieve the desired future state.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a >Read More <i class="bi bi-arrow-right"></i></a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">

                <div class="post-img">
                  <img src="../../../assets/images/blog/blog-3.jpg" alt="" class="img-fluid">
                </div>

                <h2 class="title">
                  <a>Operational Excellence</a>
                </h2>
                <div class="content">
                  <p>
                    We seek to optimize the efficiency and effectiveness of an organization's operation by continuously improving the performance of key processes and systems, with a focus on delivering value to customers, increasing efficiency and productivity, and reducing waste and errors.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a >Read More <i class="bi bi-arrow-right"></i></a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">
                <div class="post-img">
                  <img src="../../../assets/images/blog/blog-4.jpg" alt="" class="img-fluid">
                </div>
                <h2 class="title">
                  <a >Lean system consultancy</a>
                </h2>
                <div class="content">
                  <p>
                    Our focus is  to help organizations continuously identify and eliminate inefficiencies and waste, and implement process improvements that deliver more value to ou clients with fewer resources  and standard quality
                  </p>
                </div>
                <div class="read-more mt-auto align-self-end">
                  <a >Read More <i class="bi bi-arrow-right"></i></a>
                </div>
              </article>
            </div><!-- End post list item -->
          </div><!-- End blog posts list -->
        </div>
      </div>

    </div>
  </section>
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Why Choose Us</h2>

      </div>

      <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

        <div class="col-xl-5 img-bg" style="background-image: url('../../../assets/images/why-us-bg.jpg')"></div>
        <div class="col-xl-7 slides  position-relative">

          <div class="slides-1 swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">1. Customer Focus</h3>
<!--                  <h4 class="mb-3">Improved product quality and customer satisfaction</h4>-->
                  <p> By working with  us, we ensure that your processes meet or exceed the desired quality standards and expectations of your customers. This leads to increased customer satisfaction and loyalty, as well as a better overall reputation for your brand.</p>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">2. Minimal Errors</h3>
                  <h4 class="mb-3">Reduced costs and waste due to error</h4>
                  <p>By partnering with us, clients can minimize the occurrence of errors in their products and processes. This leads to a reduction in costs associated with fixing mistakes, reworking products, and disposing of waste. By proactively addressing quality </p>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">3. Build Brand Image</h3>
                  <h4 class="mb-3">Enhanced reputation and brand image</h4>
                  <p>By demonstrating a commitment to quality, clients can improve their overall reputation and brand image in the eyes of their customers, partners, and stakeholders. This can lead to increased brand recognition and loyalty, as well as new business opportunities. By prioritizing quality, clients can differentiate themselves from competitors and establish a competitive advantage in their industry.</p>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">4.Regulatory Compliance</h3>
                  <h4 class="mb-3">Compliance with industry standards and regulations</h4>
                  <p>We ensure compliance with relevant industry standards and regulations. This includes statutory and regulatory compliances.  By complying with these standards and regulations, we help our clients to minimize their risk of legal and regulatory penalties, as well as demonstrate their commitment to responsible business practices.</p>
                </div>
              </div><!-- End slide item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>

    </div>
  </section><!-- End Why Choose Us Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3>What's our story</h3>
          <p>Discover the reason for our commitment to quality.</p>
          <a class="cta-btn" (click)="navigateToAboutUs()">Who we are</a>
        </div>
      </div>

    </div>
  </section>


</main><!-- End #main -->

<!-- ======= Footer ======= -->

